[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
untangle = "*"
requests-cache = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
